# Distribution / packaging
target/classes/
build/
dist/
downloads/
lib/
*.class


# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Environments
.env
env/
venv/

# Ignore temp files
*.tmp

/TODO
